body{
font-family:'sans-serif';
margin:0;
padding:20px;
background-color: #f1f1f1;   
}
*{
box-sizing:border-box;
}
.row:after{
content:'';
display:table;
clear:both;
}

header{
background-color:#ffffff;
padding:30px;
}
header h1{
text-align:center;
font-size:60px;
color:#000000;
margin:1.5 0px;
}
h2{
color:#000000;
margin:1.5 0px;
}
.left-column{
float:left;
width:75%;
margin-top:10px;
}
.right-column{
float:right;
width:25%;
padding-left:20px;
margin-top:10px;
}
.card{
padding:20px;
background-color:#ffffff;
margin-top:20px;
}
.card img{
width:100%;
}

.left-column .card img{
margin-bottom:10px;

}.right-column .card img
{
padding-bottom:14px;
}
footer{
background-color:#dddddd;
padding:20px;
text-align:center;
}
.right-column .card li{
list-style-type:none;
display: inline-block;
font-size:40px;
text-align:center;
padding:3px;
}
@media(max-width:300px){
    .left-column,.right-column{
    width:100%;
    padding:0px;
}
.text{
text-align:justify;
}


